@font-face {
  font-family: ADC;
  src: font-url('ADC-Semi-Bold') format('opentype');
}
@font-face {
  font-family: AtomicAlice;
  src: font-url('AtomicAlice-Regular') format('opentype');
}
@font-face {
  font-family: AtomicAliceLight;
  src: font-url('AtomicAlice-Light') format('opentype');
}
@font-face {
  font-family: EckmannC;
  src: font-url('EckmannC') format('truetype');
}
