.prototype_body_94 {
  background: black;
  width: 100%;
  height: auto;
  .wrapper {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: AtomicAliceLight, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    z-index: 20;

    .resetButton {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 1px;
      padding-left: 40px;
      padding-right: 40px;
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      background-color: black;
      color: white;
      border: 1px solid white;
      border-radius: 30px;

      &:hover:not(.active) {
        background-color: white;
        color: black;
      }
    }
  }
}

#prototype_94 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 78px;
  /* margin-bottom: 60px; */
  margin-left: 20px;
  margin-right: 20px;

  .paper {
    position: relative;
    display: flex;
    margin: 20px;
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    height: 600px;
    margin: 20px;
    margin-top: 20px;
    background: white;
    overflow: hidden;
    border-radius: 10px;
  }

  .graphem {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

    &.sign1 {
      background-image: image-url('sign1.svg');
    }

    &.sign2 {
      background-image: image-url('sign2.svg');
    }

    &.sign3 {
      background-image: image-url('sign3.svg');
    }

    &.sign4 {
      background-image: image-url('sign4.svg');
    }

    &.sign5 {
      background-image: image-url('sign5.svg');
    }

    &.sign6 {
      background-image: image-url('sign6.svg');
    }

    &.sign7 {
      background-image: image-url('sign7.svg');
    }

    &.sign8 {
      background-image: image-url('sign8.svg');
    }

    &.sign10 {
      background-image: image-url('sign10.svg');
    }

    &.sign12 {
      background-image: image-url('sign12.svg');
    }

    &.sign13 {
      background-image: image-url('sign13.svg');
    }

    &.sign14 {
      background-image: image-url('sign14.svg');
    }

    &.sign15 {
      background-image: image-url('sign15.svg');
    }

    &.sign16 {
      background-image: image-url('sign16.svg');
    }

    &.sign17 {
      background-image: image-url('sign17.svg');
    }

    &.sign18 {
      background-image: image-url('sign18.svg');
    }

    &.sign19 {
      background-image: image-url('sign19.svg');
    }

    &.sign20 {
      background-image: image-url('sign20.svg');
    }

    &.sign21 {
      background-image: image-url('sign21.svg');
    }

    &.sign22 {
      background-image: image-url('sign22.svg');
    }

    &.sign23 {
      background-image: image-url('sign23.svg');
    }

    &.sign24 {
      background-image: image-url('sign24.svg');
    }

    &.sign25 {
      background-image: image-url('sign25.svg');
    }

    &.sign26 {
      background-image: image-url('sign26.svg');
    }

    &.sign27 {
      background-image: image-url('sign27.svg');
    }

    &.sign28 {
      background-image: image-url('sign28.svg');
    }

    &.sign29 {
      background-image: image-url('sign29.svg');
    }

    &.sign30 {
      background-image: image-url('sign30.svg');
    }

    &.sign31 {
      background-image: image-url('sign31.svg');
    }

    &.sign32 {
      background-image: image-url('sign32.svg');
    }

    &.sign33 {
      background-image: image-url('sign33.svg');
    }

    &.sign34 {
      background-image: image-url('sign34.svg');
    }

    &.sign35 {
      background-image: image-url('sign35.svg');
    }

    &.sign36 {
      background-image: image-url('sign36.svg');
    }

    &.sign37 {
      background-image: image-url('sign37.svg');
    }

    &.sign38 {
      background-image: image-url('sign38.svg');
    }

    &.sign39 {
      background-image: image-url('sign39.svg');
    }

    &.sign40 {
      background-image: image-url('sign40.svg');
    }

    &.sign41 {
      background-image: image-url('sign41.svg');
    }

    &.sign42 {
      background-image: image-url('sign42.svg');
    }

    &.sign43 {
      background-image: image-url('sign43.svg');
    }

    &.sign44 {
      background-image: image-url('sign44.svg');
    }

    &.sign45 {
      background-image: image-url('sign45.svg');
    }

    &.sign46 {
      background-image: image-url('sign46.svg');
    }

    &.sign47 {
      background-image: image-url('sign47.svg');
    }

    &.sign48 {
      background-image: image-url('sign48.svg');
    }

    &.sign49 {
      background-image: image-url('sign49.svg');
    }

    &.sign50 {
      background-image: image-url('sign50.svg');
    }

    &.sign51 {
      background-image: image-url('sign51.svg');
    }

    &.sign52 {
      background-image: image-url('sign52.svg');
    }

    &.sign53 {
      background-image: image-url('sign53.svg');
    }

    &.sign54 {
      background-image: image-url('sign54.svg');
    }

    &.sign55 {
      background-image: image-url('sign55.svg');
    }

    &.sign56 {
      background-image: image-url('sign56.svg');
    }

    &.sign57 {
      background-image: image-url('sign57.svg');
    }

    &.sign57 {
      background-image: image-url('sign57.svg');
    }

    &.sign58 {
      background-image: image-url('sign58.svg');
    }

    &.sign59 {
      background-image: image-url('sign59.svg');
    }

    &.sign60 {
      background-image: image-url('sign60.svg');
    }

    &.sign61 {
      background-image: image-url('sign61.svg');
    }

    &.sign62 {
      background-image: image-url('sign62.svg');
    }

    &.sign63 {
      background-image: image-url('sign63.svg');
    }

    &.sign64 {
      background-image: image-url('sign64.svg');
    }

    &.sign65 {
      background-image: image-url('sign65.svg');
    }

    &.sign66 {
      background-image: image-url('sign66.svg');
    }

    &.sign67 {
      background-image: image-url('sign67.svg');
    }

    &.sign68 {
      background-image: image-url('sign68.svg');
    }

    &.sign69 {
      background-image: image-url('sign69.svg');
    }

    &.sign70 {
      background-image: image-url('sign70.svg');
    }

    &.sign71 {
      background-image: image-url('sign71.svg');
    }

    &.sign72 {
      background-image: image-url('sign72.svg');
    }

    &.sign73 {
      background-image: image-url('sign73.svg');
    }

    &.sign74 {
      background-image: image-url('sign74.svg');
    }

    &.sign75 {
      background-image: image-url('sign75.svg');
    }

    &.sign76 {
      background-image: image-url('sign76.svg');
    }

    &.sign77 {
      background-image: image-url('sign77.svg');
    }

    &.sign78 {
      background-image: image-url('sign78.svg');
    }

    &.sign79 {
      background-image: image-url('sign79.svg');
    }

    &.sign80 {
      background-image: image-url('sign80.svg');
    }

    &.sign81 {
      background-image: image-url('sign81.svg');
    }

    &.sign82 {
      background-image: image-url('sign82.svg');
    }

    &.sign83 {
      background-image: image-url('sign83.svg');
    }

    &.sign84 {
      background-image: image-url('sign84.svg');
    }

    &.sign85 {
      background-image: image-url('sign85.svg');
    }

    &.sign86 {
      background-image: image-url('sign86.svg');
    }

    &.sign87 {
      background-image: image-url('sign87.svg');
    }

    &.sign88 {
      background-image: image-url('sign88.svg');
    }

    &.sign89 {
      background-image: image-url('sign89.svg');
    }

    &.sign90 {
      background-image: image-url('sign90.svg');
    }

    &.sign91 {
      background-image: image-url('sign91.svg');
    }

    &.sign92 {
      background-image: image-url('sign92.svg');
    }

    &.sign93 {
      background-image: image-url('sign93.svg');
    }

    &.sign94 {
      background-image: image-url('sign94.svg');
    }

    &.sign95 {
      background-image: image-url('sign95.svg');
    }

    &.sign96 {
      background-image: image-url('sign96.svg');
    }

    &.sign97 {
      background-image: image-url('sign97.svg');
    }

    &.sign98 {
      background-image: image-url('sign98.svg');
    }

    &.sign99 {
      background-image: image-url('sign99.svg');
    }

    &.sign100 {
      background-image: image-url('sign100.svg');
    }

    &.sign101 {
      background-image: image-url('sign101.svg');
    }

    &.sign102 {
      background-image: image-url('sign102.svg');
    }

    &.sign103 {
      background-image: image-url('sign103.svg');
    }

    &.sign104 {
      background-image: image-url('sign104.svg');
    }

    &.sign105 {
      background-image: image-url('sign105.svg');
    }

    &.sign106 {
      background-image: image-url('sign106.svg');
    }

    &.sign107 {
      background-image: image-url('sign107.svg');
    }

    &.sign108 {
      background-image: image-url('sign108.svg');
    }

    &.sign109 {
      background-image: image-url('sign109.svg');
    }

    &.sign110 {
      background-image: image-url('sign110.svg');
    }

    &.sign111 {
      background-image: image-url('sign111.svg');
    }

    &.sign112 {
      background-image: image-url('sign112.svg');
    }

    &.sign113 {
      background-image: image-url('sign113.svg');
    }

    &.sign114 {
      background-image: image-url('sign114.svg');
    }

    &.sign115 {
      background-image: image-url('sign115.svg');
    }

    &.sign116 {
      background-image: image-url('sign116.svg');
    }

    &.sign117 {
      background-image: image-url('sign117.svg');
    }

    &.sign118 {
      background-image: image-url('sign118.svg');
    }

    &.sign119 {
      background-image: image-url('sign119.svg');
    }

    &.sign120 {
      background-image: image-url('sign120.svg');
    }

    &.sign121 {
      background-image: image-url('sign121.svg');
    }

    &.sign122 {
      background-image: image-url('sign122.svg');
    }

    &.sign123 {
      background-image: image-url('sign123.svg');
    }

    &.sign124 {
      background-image: image-url('sign124.svg');
    }

    &.spot1 {
      background-image: image-url('spot1.svg');
    }

    &.spot2 {
      background-image: image-url('spot2.svg');
    }

    &.spot3 {
      background-image: image-url('spot3.svg');
    }

    &.spot4 {
      background-image: image-url('spot4.svg');
    }

    &.spot5 {
      background-image: image-url('spot5.svg');
    }

    &.spot6 {
      background-image: image-url('spot6.svg');
    }

    &.spot7 {
      background-image: image-url('spot7.svg');
    }

    &.spot8 {
      background-image: image-url('spot8.svg');
    }

    &.spot9 {
      background-image: image-url('spot9.svg');
    }

    &.spot10 {
      background-image: image-url('spot10.svg');
    }

    &.spot11 {
      background-image: image-url('spot11.svg');
    }

    &.spot12 {
      background-image: image-url('spot12.svg');
    }

    &.spot13 {
      background-image: image-url('spot13.svg');
    }

    &.spot14 {
      background-image: image-url('spot14.svg');
    }

    &.spot15 {
      background-image: image-url('spot15.svg');
    }

    &.spot16 {
      background-image: image-url('spot16.svg');
    }

    &.spot17 {
      background-image: image-url('spot17.svg');
    }

    &.spot18 {
      background-image: image-url('spot18.svg');
    }

    &.spot19 {
      background-image: image-url('spot19.svg');
    }

    &.spot20 {
      background-image: image-url('spot20.svg');
    }

    &.spot21 {
      background-image: image-url('spot21.svg');
    }

    &.spot22 {
      background-image: image-url('spot22.svg');
    }

    &.spot23 {
      background-image: image-url('spot23.svg');
    }

    &.spot24 {
      background-image: image-url('spot24.svg');
    }

    &.spot25 {
      background-image: image-url('spot25.svg');
    }

    &.spot26 {
      background-image: image-url('spot26.svg');
    }

    &.spot27 {
      background-image: image-url('spot27.svg');
    }

    &.spot28 {
      background-image: image-url('spot28.svg');
    }

    &.spot29 {
      background-image: image-url('spot29.svg');
    }

    &.spot30 {
      background-image: image-url('spot30.svg');
    }

    &.spot31 {
      background-image: image-url('spot31.svg');
    }

    &.spot32 {
      background-image: image-url('spot32.svg');
    }

    &.spot33 {
      background-image: image-url('spot33.svg');
    }

    &.spot34 {
      background-image: image-url('spot34.svg');
    }

    &.spot35 {
      background-image: image-url('spot35.svg');
    }

    &.spot36 {
      background-image: image-url('spot36.svg');
    }

    &.spot37 {
      background-image: image-url('spot37.svg');
    }

    &.spot39 {
      background-image: image-url('spot39.svg');
    }

    &.spot40 {
      background-image: image-url('spot40.svg');
    }

    &.spot41 {
      background-image: image-url('spot41.svg');
    }

    &.spot42 {
      background-image: image-url('spot42.svg');
    }

    &.spot43 {
      background-image: image-url('spot43.svg');
    }

    &.spot44 {
      background-image: image-url('spot44.svg');
    }

    &.spot45 {
      background-image: image-url('spot45.svg');
    }

    &.spot46 {
      background-image: image-url('spot46.svg');
    }

    &.spot47 {
      background-image: image-url('spot47.svg');
    }

    &.spot48 {
      background-image: image-url('spot48.svg');
    }

    &.spot49 {
      background-image: image-url('spot49.svg');
    }

    &.spot50 {
      background-image: image-url('spot50.svg');
    }

    &.spot51 {
      background-image: image-url('spot51.svg');
    }

    &.spot52 {
      background-image: image-url('spot52.svg');
    }

    &.spot53 {
      background-image: image-url('spot53.svg');
    }

    &.symbol1 {
      background-image: image-url('symbol1.svg');
    }

    &.symbol2 {
      background-image: image-url('symbol2.svg');
    }

    &.symbol3 {
      background-image: image-url('symbol3.svg');
    }

    &.symbol4 {
      background-image: image-url('symbol4.svg');
    }

    &.symbol5 {
      background-image: image-url('symbol5.svg');
    }

    &.symbol6 {
      background-image: image-url('symbol6.svg');
    }

    &.symbol7 {
      background-image: image-url('symbol7.svg');
    }

    &.symbol8 {
      background-image: image-url('symbol8.svg');
    }

    &.symbol9 {
      background-image: image-url('symbol9.svg');
    }

    &.symbol10 {
      background-image: image-url('symbol10.svg');
    }

    &.symbol11 {
      background-image: image-url('symbol11.svg');
    }

    &.symbol12 {
      background-image: image-url('symbol12.svg');
    }

    &.symbol13 {
      background-image: image-url('symbol13.svg');
    }

    &.symbol14 {
      background-image: image-url('symbol14.svg');
    }

    &.symbol15 {
      background-image: image-url('symbol15.svg');
    }

    &.symbol16 {
      background-image: image-url('symbol16.svg');
    }

    &.symbol17 {
      background-image: image-url('symbol17.svg');
    }

    &.symbol18 {
      background-image: image-url('symbol18.svg');
    }

    &.symbol19 {
      background-image: image-url('symbol19.svg');
    }

    &.symbol20 {
      background-image: image-url('symbol20.svg');
    }

    &.symbol21 {
      background-image: image-url('symbol21.svg');
    }

    &.symbol22 {
      background-image: image-url('symbol22.svg');
    }

    &.symbol23 {
      background-image: image-url('symbol23.svg');
    }

    &.symbol24 {
      background-image: image-url('symbol24.svg');
    }

    &.symbol25 {
      background-image: image-url('symbol25.svg');
    }

    &.symbol26 {
      background-image: image-url('symbol26.svg');
    }

    &.symbol27 {
      background-image: image-url('symbol27.svg');
    }

    &.symbol28 {
      background-image: image-url('symbol28.svg');
    }

    &.symbol29 {
      background-image: image-url('symbol29.svg');
    }

    &.symbol30 {
      background-image: image-url('symbol30.svg');
    }

    &.symbol31 {
      background-image: image-url('symbol31.svg');
    }

    &.symbol32 {
      background-image: image-url('symbol32.svg');
    }

    &.symbol33 {
      background-image: image-url('symbol33.svg');
    }

    &.symbol34 {
      background-image: image-url('symbol34.svg');
    }

    &.symbol35 {
      background-image: image-url('symbol35.svg');
    }

    &.symbol36 {
      background-image: image-url('symbol36.svg');
    }

    &.symbol37 {
      background-image: image-url('symbol37.svg');
    }

    &.symbol38 {
      background-image: image-url('symbol38.svg');
    }

    &.symbol39 {
      background-image: image-url('symbol39.svg');
    }

    &.symbol40 {
      background-image: image-url('symbol40.svg');
    }

    &.symbol41 {
      background-image: image-url('symbol41.svg');
    }

    &.symbol41-1 {
      background-image: image-url('symbol41-1.svg');
    }

    &.symbol42 {
      background-image: image-url('symbol42.svg');
    }

    &.symbol43 {
      background-image: image-url('symbol43.svg');
    }

    &.symbol44 {
      background-image: image-url('symbol44.svg');
    }

    &.symbol45 {
      background-image: image-url('symbol45.svg');
    }

    &.symbol46 {
      background-image: image-url('symbol46.svg');
    }

    &.symbol47 {
      background-image: image-url('symbol47.svg');
    }

    &.symbol48 {
      background-image: image-url('symbol48.svg');
    }

    &.symbol49 {
      background-image: image-url('symbol49.svg');
    }

    &.symbol50 {
      background-image: image-url('symbol50.svg');
    }

    &.symbol51 {
      background-image: image-url('symbol51.svg');
    }

    &.symbol52 {
      background-image: image-url('symbol52.svg');
    }

    &.symbol53 {
      background-image: image-url('symbol53.svg');
    }

    &.symbol54 {
      background-image: image-url('symbol54.svg');
    }

    &.symbol55 {
      background-image: image-url('symbol55.svg');
    }

    &.symbol56 {
      background-image: image-url('symbol56.svg');
    }

    &.symbol57 {
      background-image: image-url('symbol57.svg');
    }

    &.symbol58 {
      background-image: image-url('symbol58.svg');
    }

    &.symbol59 {
      background-image: image-url('symbol59.svg');
    }

    &.symbol60 {
      background-image: image-url('symbol60.svg');
    }

    &.symbol60-1 {
      background-image: image-url('symbol60-1.svg');
    }

    &.symbol61 {
      background-image: image-url('symbol61.svg');
    }

    &.symbol62 {
      background-image: image-url('symbol62.svg');
    }

    &.symbol63 {
      background-image: image-url('symbol63.svg');
    }

    &.symbol64 {
      background-image: image-url('symbol64.svg');
    }

    &.symbol65 {
      background-image: image-url('symbol65.svg');
    }

    &.symbol66 {
      background-image: image-url('symbol66.svg');
    }

    &.symbol67 {
      background-image: image-url('symbol67.svg');
    }

    &.symbol68 {
      background-image: image-url('symbol68.svg');
    }

    &.symbol69 {
      background-image: image-url('symbol69.svg');
    }

    &.symbol70 {
      background-image: image-url('symbol70.svg');
    }

    &.symbol71 {
      background-image: image-url('symbol71.svg');
    }

    &.symbol72 {
      background-image: image-url('symbol72.svg');
    }

    &.symbol73 {
      background-image: image-url('symbol73.svg');
    }

    &.symbol74 {
      background-image: image-url('symbol74.svg');
    }

    &.symbol75 {
      background-image: image-url('symbol75.svg');
    }

    &.symbol76 {
      background-image: image-url('symbol76.svg');
    }

    &.symbol77 {
      background-image: image-url('symbol77.svg');
    }

    &.symbol78 {
      background-image: image-url('symbol78.svg');
    }

    &.symbol79 {
      background-image: image-url('symbol79.svg');
    }

    &.symbol80 {
      background-image: image-url('symbol80.svg');
    }

    &.symbol81 {
      background-image: image-url('symbol81.svg');
    }

    &.symbol82 {
      background-image: image-url('symbol82.svg');
    }

    &.symbol83 {
      background-image: image-url('symbol83.svg');
    }

    &.symbol84 {
      background-image: image-url('symbol84.svg');
    }

    &.symbol85 {
      background-image: image-url('symbol85.svg');
    }

    &.symbol86 {
      background-image: image-url('symbol86.svg');
    }

    &.symbol87 {
      background-image: image-url('symbol87.svg');
    }

    &.symbol88 {
      background-image: image-url('symbol88.svg');
    }

    &.symbol89 {
      background-image: image-url('symbol89.svg');
    }

    &.symbol90 {
      background-image: image-url('symbol90.svg');
    }

    &.symbol91 {
      background-image: image-url('symbol91.svg');
    }

    &.symbol92 {
      background-image: image-url('symbol92.svg');
    }

    &.symbol93 {
      background-image: image-url('symbol93.svg');
    }

    &.symbol94 {
      background-image: image-url('symbol94.svg');
    }

    &.symbol95 {
      background-image: image-url('symbol95.svg');
    }

    &.symbol96 {
      background-image: image-url('symbol96.svg');
    }

    &.symbol97 {
      background-image: image-url('symbol97.svg');
    }

    &.symbol98 {
      background-image: image-url('symbol98.svg');
    }

    &.symbol99 {
      background-image: image-url('symbol99.svg');
    }

    &.vertical_line1 {
      background-image: image-url('vertical_line1.svg');
    }

    &.vertical_line2 {
      background-image: image-url('vertical_line2.svg');
    }

    &.vertical_line3 {
      background-image: image-url('vertical_line3.svg');
    }

    &.vertical_line4 {
      background-image: image-url('vertical_line4.svg');
    }

    &.vertical_line5 {
      background-image: image-url('vertical_line5.svg');
    }

    &.vertical_line6 {
      background-image: image-url('vertical_line6.svg');
    }

    &.vertical_line7 {
      background-image: image-url('vertical_line7.svg');
    }

    &.vertical_line8 {
      background-image: image-url('vertical_line8.svg');
    }

    &.vertical_line9 {
      background-image: image-url('vertical_line9.svg');
    }

    &.vertical_line10 {
      background-image: image-url('vertical_line10.svg');
    }

    &.vertical_line11 {
      background-image: image-url('vertical_line11.svg');
    }

    &.vertical_line12 {
      background-image: image-url('vertical_line12.svg');
    }

    &.vertical_line15 {
      background-image: image-url('vertical_line15.svg');
    }

    &.vertical_line16 {
      background-image: image-url('vertical_line16.svg');
    }

    &.vertical_line17 {
      background-image: image-url('vertical_line17.svg');
    }

    &.vertical_line18 {
      background-image: image-url('vertical_line18.svg');
    }

    &.vertical_line20 {
      background-image: image-url('vertical_line20.svg');
    }

    &.vertical_line22 {
      background-image: image-url('vertical_line22.svg');
    }

    &.vertical_line23 {
      background-image: image-url('vertical_line23.svg');
    }

    &.vertical_line24 {
      background-image: image-url('vertical_line24.svg');
    }

    &.vertical_line25 {
      background-image: image-url('vertical_line25.svg');
    }

    &.vertical_line26 {
      background-image: image-url('vertical_line26.svg');
    }

    &.vertical_line27 {
      background-image: image-url('vertical_line27.svg');
    }

    &.vertical_line28 {
      background-image: image-url('vertical_line28.svg');
    }

    &.vertical_line29 {
      background-image: image-url('vertical_line29.svg');
    }

    &.horisontal_line1 {
      background-image: image-url('horisontal_line1.svg');
    }

    &.horisontal_line2 {
      background-image: image-url('horisontal_line2.svg');
    }

    &.horisontal_line3 {
      background-image: image-url('horisontal_line3.svg');
    }

    &.horisontal_line4 {
      background-image: image-url('horisontal_line4.svg');
    }

    &.horisontal_line5 {
      background-image: image-url('horisontal_line5.svg');
    }

    &.horisontal_line6 {
      background-image: image-url('horisontal_line6.svg');
    }

    &.horisontal_line7 {
      background-image: image-url('horisontal_line7.svg');
    }

    &.horisontal_line8 {
      background-image: image-url('horisontal_line8.svg');
    }

    &.horisontal_line9 {
      background-image: image-url('horisontal_line9.svg');
    }

    &.horisontal_line10 {
      background-image: image-url('horisontal_line10.svg');
    }

    &.horisontal_line11 {
      background-image: image-url('horisontal_line11.svg');
    }

    &.horisontal_line12 {
      background-image: image-url('horisontal_line12.svg');
    }

    &.horisontal_line13 {
      background-image: image-url('horisontal_line13.svg');
    }

    &.horisontal_line14 {
      background-image: image-url('horisontal_line14.svg');
    }

    &.horisontal_line15 {
      background-image: image-url('horisontal_line15.svg');
    }

    &.horisontal_line16 {
      background-image: image-url('horisontal_line16.svg');
    }

    &.horisontal_line17 {
      background-image: image-url('horisontal_line17.svg');
    }

    &.horisontal_line18 {
      background-image: image-url('horisontal_line18.svg');
    }

    &.horisontal_line19 {
      background-image: image-url('horisontal_line19.svg');
    }
  }
}
